/* BOTTOM NAVIGATE */
.data-panel {
    position: fixed;
    z-index: 1051;
    left: 0px;
    width: 100%;
    bottom: 0px;
    margin: 0 auto;
  }
  .panel-sub {
   position: absolute;
   bottom: 0px;
   margin: 0 auto;
   right: 0px;
   text-align: center;
   align-items: center;
   background: #303030;
   padding: 0.5rem;
   left: 0px;
   
  }
  .panel-sub button {
    margin-left: 15px;
  }
  /* BOTTOM NAVIGATE */
  

.active-pink {
    border-bottom: 1px solid #f48fb1;
    box-shadow: 0 1px 0 0 #f48fb1;
}
.active-pink .fa, .active-pink-2 .fa {
    color: #f48fb1;
}
.form-inline {
    display: inline-block;
}
.mat-form-field {
    margin-left: 5px;
}
.icon-search {
    margin-left: 15px;
    color: white;
}
.mat-form-field-appearance-legacy .mat-form-field-wrapper {
    padding-bottom: 0px;
    color: white;
}
.mat-cell, .mat-footer-cell {
    color:black;
}
.mat-header-cell {
    color: #515151;
}
.mat-paginator, .mat-paginator-page-size .mat-select-trigger {
    color: black;
}
.mat-table,
.mat-paginator {
    background: #ffffff;
}

.mat-cell, .mat-footer-cell {
    font-size: 12px;
}
