<div class="popu-background">
  <div class="popu-content">
<div class="alert alert-success" *ngIf="message">
  <strong>{{message}}</strong>
</div>
<form [formGroup]="bodyForm" (submit)="onAddContent()">
  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home"
        aria-selected="true">Setings</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile"
        aria-selected="false">Content</a>
    </li>
  </ul>
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
      <div class="panel panel-default cont-l col-md-6">
        <a data-toggle="collapse" data-parent="#accordion" href="#type" aria-expanded="true">
          <div class="panel-heading">
            <h4 class="panel-title">
              <label for="type">Format<span class="arrow"></span></label>
            </h4>
          </div>
        </a>
        <div id="type" class="panel-collapse collapse show">
          <div class="panel-body">
            <div class="toggle" *ngFor="let types of type;let radiotypeId= index">
              <input type="radio" id="{{radiotypeId+types}}" [value]="types" (change)="onChangeTextType(types)" (click)="changes(type[radiotypeId])"
                formControlName="type" name="type">
              <label for="{{radiotypeId+types}}" class="btn"> <i class="fa-padding fas fa-align-{{types}}"></i>{{types}}</label>
            </div>
          </div>
        </div>
      </div>
      <div class="panel panel-default cont-r col-md-6">
        <div formGroupName="styles">
          <a data-toggle="collapse" data-parent="#accordion" href="#text_type" aria-expanded="true">
            <div class="panel-heading">
              <h4 class="panel-title">
                <label for="text_type">Text Type<span class="arrow"></span></label>
              </h4>
            </div>
          </a>
          <div id="text_type" class="panel-collapse collapse show">
            <div class="panel-body">
              <div class="form-group">
                <label for="sel1">Select list (select one):</label>
                <select class="form-control" (change)="onChangeFormDisplay($event.target.value)" formControlName="text_type">
                  <option value="{{text.label}}" *ngFor="let text of text_type">{{text.name}}</option>
                </select>
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <a data-toggle="collapse" data-parent="#accordion" href="#float" aria-expanded="true">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <label for="float">FLOAT<span class="arrow"></span></label>
                </h4>
              </div>
            </a>
            <div id="float" class="panel-collapse collapse show">
              <div class="panel-body">
                <p>
                  <input type="email" class="form-control" placeholder="float" id="float" formControlName="float" name="float">
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="panel panel-default cont-r col-md-6">
        <a data-toggle="collapse" data-parent="#accordion" href="#tag" aria-expanded="true">
          <div class="panel-heading">
            <h4 class="panel-title">
              <label for="tag">tag<span class="arrow"></span></label>
            </h4>
          </div>
        </a>
        <div id="tag" class="panel-collapse collapse show">
          <div class="panel-body">
            <div formArrayName="tags" *ngFor="let tag of  bodyForm.get('tags')['controls'];let indexTag= index; async as users; last as isLast">
              <p>
                <input type="email" class="form-control" id="tag" formControlName="{{indexTag}}" name="tag">
              </p>
              <button type="button" *ngIf="isLast" class="btn-xs btn-danger btn-width-lg" (click)="removeTag(indexTag)">Remove</button>
            </div>
            <button type="button" class="btn-xs btn-success btn-width-lg" (click)="addTag()">Add</button>
          </div>
        </div>
      </div>
    </div>
    <div class="tab-pane fade show" id="profile" role="tabpanel" aria-labelledby="home-tab">
      <div formArrayName="content">
        <div *ngFor="let contentBody of content.controls; let i=index" class="body-forms">
          <div formGroupName="{{i}}">
            <text-content *ngIf="typeID === 'text'" [group]="bodyForm.controls.content.controls[i]" [i]="i"></text-content>
            <text-image *ngIf="typeID === 'text_and_image'" [group]="bodyForm.controls.content.controls[i]" [i]="i"></text-image>
            <schedule-content *ngIf="typeID === 'schedule'" [group]="bodyForm.controls.content.controls[i]" [i]="i"></schedule-content>
            <table-content *ngIf="typeID === 'table'" [group]="bodyForm.controls.content.controls[i]" [i]="i"></table-content>
            <gallery-content *ngIf="typeID === 'gallery'" [group]="bodyForm.controls.content.controls[i]" [i]="i"></gallery-content>
          </div>
          <div class="clearfix"></div>
          <button type="submit" class="btn btn-default btn-width-lg" *ngIf="content.controls.length > 1" (click)="removeContent(i)">
            <span class="fa fa-minus"></span>Usuń</button>
        </div>
      </div>
    </div>
  </div>
  <div class="clearfix"></div>
  <div class="data-panel">
    <div class="panel-sub">
       <button type="button" class="btn btn-outline-info waves-effect" (click)="gotoBack()">Back</button>
       <button type="button" class="btn btn-outline-primary btn-rounded waves-effect" (click)="addContent()">Add</button>
       <button type="submit" class="btn btn-outline-success btn-rounded waves-effect">Save</button>
    </div>
  </div>
</form>

</div>
</div>
