tr {
  text-align: center;
}
a {
  color: black;
}
a:focus, a:hover {
  color:#4e4e4e;
}
#exTab1 .tab-content {
  color : white;
  background-color: #428bca;
  padding : 5px 15px;
}
.nav>li>a {
    font-size: 1rem;
    font-weight: 400;
}
#exTab2 h3 {
  color : white;
  background-color: #428bca;
  padding : 5px 15px;
}
.nav-tabs .nav-link {
  border: 1px solid transparent;
  border-radius: 0.25rem;
}
span.arrow.fa.fa-angle-up:hover {
  cursor: pointer;
  position: relative;
  color: #7b7b7b;
}
span.arrow.fa.fa-angle-down:hover {
  cursor: pointer;
  position: relative;
  color: #7b7b7b;
}
.tab-content {
  padding-top: 20px;
}
.align-middle {
  overflow: auto;
  margin: auto;
  position: absolute;
  top: 20px;
  bottom: 0;
  right: 0;
  vertical-align: middle !important;
}
/* .span.arrow:before:hover {
  color:red !important;
} */
.card-header:hover{
background-color: #ffbc02;
}
a[aria-expanded="true"]{
background-color: #ffbc02;
}
a[aria-expanded="false"]{
background-color: transparent;
}
.card-header:hover span.arrow {
  color: black;
  }
span.arrow {
  /* font-family: 'FontAwesome';
  content: "\f107";
  display: inline-block; */
  color: black;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle;
  float: right;
}
.list-tag {
  display: inline-block;
  font-size: 1rem;
  font-weight: 600;
  list-style-type: none;
  padding-left: 15px;
}

/* remove border radius for the tab */

#exTab1 .nav-pills > li > a {
  border-radius: 0;
}

/* change border radius for the tab , apply corners on top*/

#exTab3 .nav-pills > li > a {
  border-radius: 4px 4px 0 0 ;
}

.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link{
  background-color: #ffbc02;
  color: black;
  border: 0px solid transparent;
  box-shadow: 0 0 20px rgba(45, 45, 45, 0.28);
}
.nav-tabs {
border: none;
}
#exTab3 .tab-content {
  color : white;
  background-color: #428bca;
  padding : 5px 15px;
}
.text {
  text-align: center;
}



