<div [formGroup]="contentForm">
  <div class="col-md-9">
    <div class="table">
      <div class="form-group thead">
        <input type="email" class="form-control full td" id="title" formControlName="title" name="title"
          aria-describedby="emailHelp">
      </div>
    </div>
    <div class="table">
      <div formArrayName="headers" class="thead">
        <button type="button" class="btn-xs btn-danger button-rotete-left cell-rem-left">Remove</button>
        <div *ngFor="let header of contentForm.get('headers')['controls']; let j=index; async as users; last as isLast" class="td">
          <div class="cell-top">
            <button type="button" class="btn-xs btn-danger " (click)="removeCellTable(contentForm.controls.headers, i, j)">Remove</button>
            <button type="button" *ngIf="isLast" class="btn-xs btn-success" (click)="addHeader(contentForm.controls.headers, j)">Add</button>
          </div>

          <input type="email" class="form-control" formControlName="{{j}}">

        </div>
      </div>
      <!-- </div>
          <div> -->
      <div formArrayName="data" class="tbody">
        <div *ngFor="let cc of contentForm.get('data')['controls']; let j=index" class="tr">
          <button type="button" class="btn-xs btn-danger button-rotete-left cell-rem-left" (click)="removeScheduleRow(contentForm.controls.data, j)">Remove</button>
          <div [formArrayName]="j" *ngFor="let data of cc.controls; async as users; let c=index; last as isLast" class="td">
            <div *ngIf="getDataType(data.value) === 'array'">
              <div [formArrayName]="c" *ngFor="let array of data.controls; async as users; let x=index; last as isLast">
                <input type="email" class="form-control" formControlName="{{x}}">
                <button type="button" *ngIf="isLast && x !== 1" class="btn-xs btn-success" (click)="addSubCellTable(contentForm.controls.data, x, j, data.value)">Add</button>
              </div>
            </div>
            <div *ngIf="getDataType(data.value) === 'object'">
              <div formGroupName="{{c}}" class="toggle-editor">
                <input type="email" class="form-control" formControlName="background_color">
                <input type="email" class="form-control" formControlName="content">
                <input type="email" class="form-control" formControlName="extra_content">
              </div>
            </div>
            <!-- <button type="button" *ngIf="isLast" class="btn-xs btn-success cell-add button-rotete-right" (click)="addScheduleColumn(contentForm.controls.data, c, j)">Add</button>
            <button type="button" *ngIf="isLast" class="btn-xs btn-danger cell-add-bottom button-rotete-right" (click)="removeScheduleColumn(contentForm.controls.data, c, j)"> a Remove</button> -->
          </div>
         <div class="schedule-table">
          <button type="button" class="btn-xs btn-success  button-rotete-right" (click)="addScheduleColumn(contentForm.controls.data, c, j)">Add</button>
          <button type="button"  class="btn-xs btn-danger  button-rotete-right" (click)="removeScheduleColumn(contentForm.controls.data, c, j)">Remove</button>
        </div>
        </div>
      </div>
    <button type="button" class="btn-xs btn-success btn-width-lg" (click)="addScheduleRow(contentForm.controls.data)">Add</button>
    </div>        
  </div>
</div>
<div class="clearfix"></div>
