<div [formGroup]="contentForm">
    <div class="col-md-9 content-row">
      <div class="form-inlines">
        <div class="form-group">
          <label for="title">
            <h2>Title</h2>
          </label>
          <input type="email" class="form-control full" id="title" placeholder="title" formControlName="title" name="title" aria-describedby="emailHelp">
          <input type="email" class="form-control full" id="title" placeholder="lead" formControlName="lead" name="title" aria-describedby="emailHelp">
          <small id="emailHelp" class="form-text text-muted"></small>
        </div>
      </div>
      <app-ngx-editor formControlName="text"></app-ngx-editor>
    </div>
    <div class="collapse-body cont-l col-md-9">
      <div formArrayName="items">
        <div class="panel panel-default">
          <a data-toggle="collapse" data-parent="#accordion" href="#items{{i}}">
            <div class="panel-heading">
              <h4 class="panel-title">
                <label for="items{{i}}">items</label>
              </h4>
            </div>
          </a>
          <div id="items{{i}}" class="panel-collapse collapse">
            <div class="panel-body">
              <div *ngFor="let header of contentForm.get('items')['controls']; let j=index; async as users; last as isLast; first as isFirst">
                <p>
                  <input type="email" class="form-control" formControlName="{{j}}">
                  <button type="button" *ngIf="isLast" class="btn-xs btn-danger " (click)="removeItems(contentForm.controls.items, j)">Remove</button>
                  <button type="button" *ngIf="isLast" class="btn-xs btn-success" (click)="addItems(contentForm.controls.items, j)">Add</button>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <a data-toggle="collapse" data-parent="#accordion" href="#reference{{i}}">
          <div class="panel-heading">
            <h4 class="panel-title">
              <label for="reference{{i}}">reference</label>
            </h4>
          </div>
        </a>
        <div id="reference{{i}}" class="panel-collapse collapse">
          <div class="panel-body">
            <p>
              <input type="email" placeholder="url"  class="form-control" id="reference{{i}}" formControlName="reference" name="reference">
            </p>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <a data-toggle="collapse" data-parent="#accordion" href="#decriptions{{i}}">
          <div class="panel-heading">
            <h4 class="panel-title">
              <label for="decriptions{{i}}">decriptions</label>
            </h4>
          </div>
        </a>
        <div id="decriptions{{i}}" class="panel-collapse collapse">
          <div class="panel-body">
            <p>
              <input type="email" placeholder="decription" class="form-control" id="decriptions{{i}}" formControlName="decriptions" name="decriptions">
            </p>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <a data-toggle="collapse" data-parent="#accordion" href="#button{{i}}">
          <div class="panel-heading">
            <h4 class="panel-title">
              <label for="button{{i}}">button</label>
            </h4>
          </div>
        </a>
        <div id="button{{i}}" class="panel-collapse collapse">
          <div class="panel-body">
            <p>
              <input type="email" placeholder="true/false" class="form-control" id="button{{i}}" formControlName="button" name="button">
            </p>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <a data-toggle="collapse" data-parent="#accordion" href="#signature{{i}}">
          <div class="panel-heading">
            <h4 class="panel-title">
              <label for="signature{{i}}">signature</label>
            </h4>
          </div>
        </a>
        <div id="signature{{i}}" class="panel-collapse collapse">
          <div class="panel-body">
            <p>
              <input type="email" class="form-control" placeholder="signature(podpis)" id="signature{{i}}" formControlName="signature" name="signature">
            </p>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <a data-toggle="collapse" data-parent="#accordion" href="#date{{i}}">
          <div class="panel-heading">
            <h4 class="panel-title">
              <label for="date{{i}}">date</label>
            </h4>
          </div>
        </a>
        <div id="date{{i}}" class="panel-collapse collapse">
          <div class="panel-body">
            <p>
              <input type="email" class="form-control" placeholder="data" id="date{{i}}" formControlName="date" name="date">
            </p>
          </div>
        </div>
      </div>
      <div formArrayName="contact">
        <div *ngFor="let contentcontact of contentForm.get('contact')['controls']; let j=index">
          <div [formGroupName]="j">
            <div class="panel panel-default">
              <a data-toggle="collapse" data-parent="#accordion" href="#contentcontact-{{j}}{{i}}">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <label for="contentcontact-{{j}}{{i}}">Contact</label>
                  </h4>
                </div>
              </a>
              <div id="contentcontact-{{j}}{{i}}" class="panel-collapse collapse">
                <div class="panel-body">
                  <p>
                    <input type="email" class="form-control" id="contentcontact-{{j}}{{i}}" placeholder="phone"
                      formControlName="phone" name="title">
                    <input type="email" class="form-control" id="contentcontact-{{j}}{{i}}" placeholder="email"
                      formControlName="email" name="url">
                    <input type="email" class="form-control" id="contentcontact-{{j}}{{i}}" placeholder="reference"
                      formControlName="reference" name="url">
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div formArrayName="image">
        <div *ngFor="let contentitems of contentForm.get('image')['controls']; let j=index">
          <div [formGroupName]="j">
            <div class="panel panel-default">
              <a data-toggle="collapse" data-parent="#accordion" href="#images-{{j}}{{i}}">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <label for="images-{{j}}{{i}}">image</label>
                  </h4>
                </div>
              </a>
              <div id="images-{{j}}{{i}}" class="panel-collapse collapse">
                <div class="panel-body">
                  <p>
                    <input type="email" class="form-control" id="images-{{j}}{{i}}" placeholder="title" formControlName="title" name="title">
                    <input type="email" class="form-control" id="images-{{j}}{{i}}" placeholder="url" formControlName="url" name="url">
                    <input type="email" class="form-control" id="images-{{j}}{{i}}" placeholder="description" formControlName="description" name="description">
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  