<div class="">
  <h2>Portals</h2>
  <ul class="nav nav-tabs">
    <li *ngFor="let portal of portals"><a class="nav-link" data-toggle="tab" (click)="showSections(portal)" href="#{{portal.name}}">{{portal.label}}</a></li>
  </ul>

  <div class="tab-content" *ngIf="portalName">
    <div id="{{portalName}}" class="tab-pane fade in active">
      <ul class="nav nav-tabs">
        <li *ngFor="let section of sections"><a class="nav-link" data-toggle="tab" (click)="showContent(section)" href="#{{section.name}}">{{section.label}}</a></li>
      </ul>
      <div class="tab-content" *ngIf="sectionName">
          <div id="{{sectionName}}" class="tab-pane fade in active">
              <div *ngFor="let content of contents">
                <div *ngIf="content.type">
                
                  <div id="accordion">

                      <div class="card">
                        <div class="card-header">
                          <a class="card-link" (click)="showData(content._id)" data-toggle="collapse" href="#{{content._id}}"> {{content._id}}<span _ngcontent-c5="" class="arrow"></span>
                             
                          </a>
                        </div>
                        <div id="{{content._id}}" class="collapse" data-parent="#accordion">
                          <div class="card-body" *ngIf="dataId === content._id">
                            <app-content-create [contentData]="content"></app-content-create>
                          </div>
                        </div>
                      </div>
                </div>
                <!-- {{content.type}} -->
              
              
              </div>
          </div>
          <div *ngIf="ContentToSection">
              <app-content-create [sectionID]="sectionID"></app-content-create>
          </div>
          <button type="button" class="btn btn-info" (click)="addContentToSection()">Dodaj</button>
        </div>
    </div>
  </div>
</div>
