
<h1>List {{title}}</h1>
<a button [routerLink]="['/content/create']" type="button" class="btn-sm btn btn-primary">Add</a>
<table class="table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Tags</th>
      <th>Title</th>
      <th>Acction</th>
    </tr>
  </thead>
  <tbody *ngFor="let contentData of contents">
    <!-- <tr *ngIf="contentData.type === 'text_and_image' && contentData.styles.text_type === 'block-ref'"> -->
      <tr>
        <!-- <tr *ngIf="contentData._id === '5bdb4db314aeb700136fe927' || contentData._id ==='5bdc46aa4d63e30013a74b8d'"> -->
      <td>
        {{contentData._id}}
      </td>
      <td>
          <div *ngIf="contentData.tags">{{contentData.tags}} </div>
      </td>
      <td>
       <div *ngIf="contentData.content.title">{{contentData.content.title}} </div>
       <div *ngIf="contentData.content.length > 0"><i class="fa fa-check-circle" style="font-size:20px;color:green"></i>
        <div *ngFor="let content of contentData.content"> {{content.title}}</div>
       
         </div>
      </td>
      
      <td>
        <a button [routerLink]="['/content/edit/', contentData._id]" type="button" class="btn btn-sm btn-info">Edit</a>
        <a button [routerLink]="['/content/edit/', contentData._id]" type="button" class="btn btn-sm btn-danger"><s>Delete</s></a>
      </td>
    </tr>
  </tbody>
</table>
