
<h1>REFERENCJE</h1>
<table class="table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Title</th>
      <th>Type</th>
      <th>Acction</th>
    </tr>
  </thead>
  <tbody *ngFor="let contentData of contents">
    <!-- <tr *ngIf="contentData.type === 'text_and_image' && contentData.styles.text_type === 'block-ref'"> -->
      <tr>
        <!-- <tr *ngIf="contentData._id === '5bdb4db314aeb700136fe927' || contentData._id ==='5bdc46aa4d63e30013a74b8d'"> -->
      <td>
        {{contentData._id}}
      </td>
      <td>
        {{contentData.content.title}}
      </td>
      <td>
        {{contentData.type}}
      </td>
      <td>
          <a button [routerLink]="['/content/create']" type="button" class="btn-sm btn btn-primary">Add</a>
        <a button [routerLink]="['/content/edit/', contentData._id]" type="button" class="btn btn-sm btn-info">Edit</a>
        <a button [routerLink]="['/contents/edit/', contentData._id]" type="button" class="btn btn-sm btn-danger">Edit_v1</a>
      </td>
    </tr>
  </tbody>
</table>
