
  <form [formGroup]="form" (submit)="onAddContent()">
      <div class="form-group">
          <div class="col-sm-10">
            <!-- <p *ngIf="content._id > 0" class="form-control-static">Id: {{content._id}}</p> -->
          </div>
        </div>
      <!-- <div class="form-group">
        <label for="exampleInputEmail1">ImagePath</label>
        <input class="form-control" id="exampleInputEmail1" formControlName="image" name="image" aria-describedby="emailHelp">
        <small id="emailHelp" class="form-text text-muted"></small>
      </div>
      <div class="form-group">
          <label for="exampleInputEmail1">Title</label>
          <input type="email" class="form-control" id="exampleInputEmail1" formControlName="title" name="title" aria-describedby="emailHelp">
          <small id="emailHelp" class="form-text text-muted"></small>
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Lead</label>
            <input type="email" class="form-control" id="exampleInputEmail1" formControlName="lead" name="lead" aria-describedby="emailHelp">
            <small id="emailHelp" class="form-text text-muted"></small>
          </div> -->
          <!-- <div class="form-group" *ngIf="content.content.references !== undefined">
              <label for="exampleInputEmail1">References</label>
              <input class="form-control" id="exampleInputEmail1" formControlName="references" name="references" aria-describedby="emailHelp">
              <small id="emailHelp" class="form-text text-muted"></small>
            </div>
            <div class="form-group" *ngIf="content.content.references">
                <label for="exampleInputEmail1">Email</label>
                <input type="email" class="form-control" id="exampleInputEmail1" formControlName="email" name="email" aria-describedby="emailHelp">
                <small id="emailHelp" class="form-text text-muted"></small>
              </div>-->
              <div class="form-group">
                  <label for="exampleInputEmail1">type</label>
                  <input type="email" class="form-control" id="exampleInputEmail1" formControlName="type" name="type" aria-describedby="emailHelp">
                  <small id="emailHelp" class="form-text text-muted"></small>
                </div> 
           <div formGroupName="content">
                <div class="form-group">
                  <label for="exampleInputEmail1">content/title</label>
                  <input type="email" class="form-control" id="exampleInputEmail1" formControlName="title" name="title" aria-describedby="emailHelp">
                  <small id="emailHelp" class="form-text text-muted"></small>
                </div> 
                <!-- <div class="form-group">
                    <label for="exampleInputEmail1">content/lead</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" formControlName="lead" name="lead" aria-describedby="emailHelp">
                    <small id="emailHelp" class="form-text text-muted"></small>
                  </div>   -->
                  <div class="form-group">
                      <label for="exampleTextarea">TEXT</label>
                      <textarea class="form-control" id="exampleTextarea" formControlName="text" name="text" rows="3"></textarea>
                    </div>
                    <!-- <div class="form-group">
                        <label for="exampleInputEmail1">content/reference</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" formControlName="reference" name="reference" aria-describedby="emailHelp">
                        <small id="emailHelp" class="form-text text-muted"></small>
                      </div> 
                <div class="form-group">
                    <label for="exampleInputEmail1">content/decriptions</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" formControlName="decriptions" name="decriptions" aria-describedby="emailHelp">
                    <small id="emailHelp" class="form-text text-muted"></small>
                  </div>   -->
               </div>
                <!-- <div class="form-group">
                  <label for="exampleTextarea">TEXT</label>
                  <textarea class="form-control" id="exampleTextarea" formControlName="id" name="id" rows="3"></textarea>
                </div> -->
     
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  