<form [formGroup]="bodyForm" (submit)="onAddContent()">
  <div class="col-md-6 cont-r">
    <div class="panel panel-default">
      <a data-toggle="collapse" data-parent="#accordion" href="#tag" aria-expanded="true">
        <div class="panel-heading">
          <h4 class="panel-title">
            <label for="tag">tag<span class="arrow"></span></label>
          </h4>
        </div>
      </a>
      <div id="tag" class="panel-collapse collapse show">
        <div class="panel-body">
          <p>
            <input type="email" class="form-control" id="tag" formControlName="tag" name="tag" aria-describedby="emailHelp">
          </p>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <a data-toggle="collapse" data-parent="#accordion" href="#type" aria-expanded="true">
        <div class="panel-heading">
          <h4 class="panel-title">
            <label for="type">Format<span class="arrow"></span></label>
          </h4>
        </div>
      </a>
      <div id="type" class="panel-collapse collapse show">
        <div class="panel-body">
          <div class="toggle" *ngFor="let types of type;let radiotypeId= index">
            <input type="radio" id="{{radiotypeId+types}}" [value]="types" formControlName="type" name="type">
            <label for="{{radiotypeId+types}}" class="btn"> <i class="fa-padding fas fa-align-{{types}}"></i>{{types}}</label>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div formGroupName="styles" class="toggle-editor">
      <label for="title">Text Type</label>
      <input type="email" class="form-control full" id="text_type" formControlName="text_type" name="text_type">
    </div>
  <div formArrayName="content">
    <div *ngFor="let contentBody of bodyForm.controls['content'].controls; let i=index">
      <div formGroupName="{{i}}">
        <div class="col-md-6">
          <div class="form-inlines">
            <div class="form-group">
              <label for="title">Title</label>
              <input type="email" class="form-control full" id="title" formControlName="title" name="title"
                aria-describedby="emailHelp">
              <small id="emailHelp" class="form-text text-muted"></small>
            </div>
          </div>
          <app-ngx-editor formControlName="text"></app-ngx-editor>
        </div>
        <div class="collapse-body col-md-6">
          <div class="panel panel-default">
            <a data-toggle="collapse" data-parent="#accordion" href="#reference{{i}}">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <label for="reference{{i}}">reference</label>
                </h4>
              </div>
            </a>
            <div id="reference{{i}}" class="panel-collapse collapse">
              <div class="panel-body">
                <p>
                  <input type="email" class="form-control" id="reference{{i}}" formControlName="reference" name="reference"
                    aria-describedby="emailHelp">
                </p>
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <a data-toggle="collapse" data-parent="#accordion" href="#decriptions{{i}}">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <label for="decriptions{{i}}">decriptions</label>
                </h4>
              </div>
            </a>
            <div id="decriptions{{i}}" class="panel-collapse collapse">
              <div class="panel-body">
                <p>
                  <input type="email" class="form-control" id="decriptions{{i}}" formControlName="decriptions" name="decriptions">
                </p>
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <a data-toggle="collapse" data-parent="#accordion" href="#button{{i}}">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <label for="button{{i}}">button</label>
                </h4>
              </div>
            </a>
            <div id="button{{i}}" class="panel-collapse collapse">
              <div class="panel-body">
                <p>
                  <input type="email" class="form-control" id="button{{i}}" formControlName="button" name="button">
                </p>
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <a data-toggle="collapse" data-parent="#accordion" href="#signature{{i}}">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <label for="signature{{i}}">signature</label>
                </h4>
              </div>
            </a>
            <div id="signature{{i}}" class="panel-collapse collapse">
              <div class="panel-body">
                <p>
                  <input type="email" class="form-control" id="signature{{i}}" formControlName="signature" name="signature">
                </p>
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <a data-toggle="collapse" data-parent="#accordion" href="#date{{i}}">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <label for="date{{i}}">date</label>
                </h4>
              </div>
            </a>
            <div id="date{{i}}" class="panel-collapse collapse">
              <div class="panel-body">
                <p>
                  <input type="email" class="form-control" id="date{{i}}" formControlName="date" name="date">
                </p>
              </div>
            </div>
          </div>
         <div formArrayName="image">
             <!-- <div *ngFor="let contentitems of contentBody.controls.image.controls; let j=index"> -->
                <div *ngFor="let contentitems of contentBody.get('image').controls; let j=index">
              <div [formGroupName]="j">
                <div class="panel panel-default">
                  <a data-toggle="collapse" data-parent="#accordion" href="#images-{{j}}{{i}}">
                    <div class="panel-heading">
                      <h4 class="panel-title">
                        <label for="images-{{j}}{{i}}">image</label>
                      </h4>
                    </div>
                  </a>
                  <div id="images-{{j}}{{i}}" class="panel-collapse collapse">
                    <div class="panel-body">
                      <p>
                        <input type="email" class="form-control" id="images-{{j}}{{i}}" formControlName="title" name="title">
                        <input type="email" class="form-control" id="images-{{j}}{{i}}" formControlName="url" name="url">
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="clearfix"></div>
        <hr>
      </div>
     
    </div>
    <a type="submit" class="btn btn-info" (click)="addC()"> <span class="fa fa-plus"></span></a>
  </div>
  
</form>
<hr>

<p>{{bodyForm.value | json}}</p>