<div class="card-body">
  <div class="tab-content">
    <div class="tab-panel">
      <ul class="nav nav-tabs" *ngFor="let sections of portals">
        <div class="col-md-12" *ngIf="sections._id === portalID">
          <li *ngFor="let section of sections.sections">
            <div id="accordionSections" *ngIf="section._id === sectionID">
              <div *ngFor="let content of section.data; let i=index">
                <div class="card">
                  <div class="card-header" id="head{{i}}">
                    <h5 class="mb-0">
                      <a class="nav-link tab-color" data-toggle="modal" (click)="showData(content._id)"
                        [attr.data-target]="'#image' + i">
          <li class="list-tag " *ngFor="let tag of content.tags">{{tag}}</li>
          </a>
          <div class="align-middle"> <button class="btn btn-danger" (click)="contentDelete(content._id)">Usun</button>
            <span (click)="goDown(content._id)" class="arrow fa fa-angle-down"></span>
            <span (click)="goUp(content._id)" class="arrow fa fa-angle-up"></span>
          </div>
          </h5>
        </div>
        <div class="modal fade" id="image{{i}}" tabindex="-1" role="dialog" attr.aria-labelledby="image{{i}}Title"
          aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-footer">
                <button type="button" class="fas fa-2x fa-times-circle close" data-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-header">
                <div class="card-body" *ngIf="contentID === content._id">
                  <app-content-create [contentData]="content"></app-content-create>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>
</li>
<div *ngIf="ContentToSection">
  <div class="modal fade" id="images" tabindex="-1" role="dialog" aria-labelledby="imageTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-footer">
          <button type="button" class="fas fa-2x fa-times-circle close" data-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-header">
          <div class="card-body">
            <app-content-create [sectionID]="sectionID"></app-content-create>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>
<button type="button" class="btn btn-info" data-toggle="modal" [attr.data-target]="'#images'" (click)="addContentToSection()">Dodaj</button>
</div>
</ul>
</div>
</div>
</div>
