<div class="nav-side-menu">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" routerLink="/"><i class="fab fa-2x fa-github"></i> Dashboard</a>
  <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"
  aria-controls="menu-content" aria-expanded="false" aria-label="Toggle navigation"></i>
  <div class="menu-list">
    <ul id="menu-content" class="menu-content collapse">
      <li>
        <a routerLink="/"><i class="fa fa-home fa-lg fa-fw sidebar-icon"></i> Home</a>
      </li>
     
        <li>
            <a routerLink="/portal"><i class="fa fa-copyright fa-lg fa-fw sidebar-icon"></i> Portal</a>
          </li>
          <li>
            <a routerLink="/photos/new"><i class="fa fa-copyright fa-lg fa-fw sidebar-icon"></i> Images Uploader</a>
          </li>
          <li class="logout">
              <a class="nav-link" [routerLink]="['/login']"><i class="fas fa-sign-out-alt fa-lg fa-fw sidebar-icon"></i>Logout</a>
            </li>
    </ul>
  </div>
</div>
