<div class="nav-side-menu">
  <div class="brand"> <a routerLink="/"><i class="fab fa-2x fa-github"></i> Dashboard</a></div>
  <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>
  <div class="menu-list">
    <ul id="menu-content" class="menu-content collapse out">
      <li>
        <a routerLink="/"><i class="fa fa-home fa-lg fa-fw sidebar-icon"></i> Home</a>
      </li>
     
        <li>
            <a routerLink="/portal"><i class="fa fa-copyright fa-lg fa-fw sidebar-icon"></i> Portal</a>
          </li>
    </ul>
  </div>
</div>
